/**
 * Fonts
 */

 @mixin font($alias, $name, $thickness: 400, $style: normal) {
  @font-face {
    font-family: $alias;
    src:
      url("/fonts/" + $name + ".woff2") format("woff2"),
      url("/fonts/" + $name + ".woff") format("woff");
    font-weight: $thickness;
    font-style: $style;
    // font-display: swap; не надо уго убирать, но ведь дизайнерам хрен докажешь
  }
}

@mixin slide-in() {
  .slide-in-enter-active {
    transition: all .2s ease;
  }
  .slide-in-leave-active {
    transition: all .2s ease;
  }
  .slide-in-enter, .slide-in-leave-to {
    transform: translateY(500px);
  }
}

/**
 * Loading animation
 */
@mixin loading($color: #fff, $width: 2px, $size: 24px) {
  &:after {
    content: '';
    position: absolute;
    top: calc(50% - #{$size / 2});
    left: calc(50% - #{$size / 2});
    width: $size;
    height: $size;
    border: $width solid;
    border-color: $color transparent transparent transparent;
    border-radius: 50%;
    animation: spin 1s ease infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin max($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}

@mixin min($size) {
  @media (min-width: #{$size}px) {
    @content;
  }
}

@mixin list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
