@import 'mixins';
@import 'variables';

@include font('Inter', 'Inter-Regular', 400);
@include font('Inter', 'Inter-SemiBold', 600);
@include font('Inter', 'Inter-ExtraBold', 800);

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica Neue', 'Segoe UI', 'Fira Sans', Roboto, Oxygen, Ubuntu, 'Droid Sans', 'Arial', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: $gray;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: border-box
}

*:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: auto;
}